<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApiClient.Routes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ApiClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ApiClient.Routes>
            <setting name="Date" serializeAs="String">
                <value />
            </setting>
        </ApiClient.Routes>
        <ApiClient.Properties.Settings>
            <setting name="API_LOCAL_ADR" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="API_LOCAL_PORT" serializeAs="String">
                <value>43443</value>
            </setting>
            <setting name="API_ADR_PROD" serializeAs="String">
                <value />
            </setting>
            <setting name="API_LOCAL_MODE" serializeAs="String">
                <value>True</value>
            </setting>
        </ApiClient.Properties.Settings>
    </userSettings>
</configuration>